<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="cn.edu.hcnu.service" />

    <!--StudentServiceImpl注入到IOC容器中-->
    <bean id="studentServiceImpl" class="cn.edu.hcnu.service.StudentServiceImpl">
        <property name="studentMapper" ref="studentMapper"/>
    </bean>
    <!--StudentServiceImpl注入到IOC容器中-->
    <bean id="userServiceImpl" class="cn.edu.hcnu.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <!--FaceCaptureServiceImpl注入到IOC容器中-->
    <bean id="faceCaptureServiceImpl" class="cn.edu.hcnu.service.FaceCaptureServiceImpl">
        <property name="faceCaptureRecordMapper" ref="faceCaptureRecordMapper"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>